body{
	font: Times New Roman;
	color: black;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.sidebar{
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	background: #D4A3F9;
	transition: all .5s ease;
}

.sidebar header{
	font-size: 20px;
	color: white;
	padding-left: 25px;
	line-height: 60px;
	background: #532377;
}

.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 50px;
	font-size: 17px;
	color: black;
	padding-left: 25px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255, 255, 255, .1);
	border-bottom: 1px solid #532377;
	transition: .4s;
}

ul li:hover a{
	padding-left: 35px;	
}

.sidebar ul a i{
	margin-right: 15px;
}
	
#check{
	display: none; 
}

label #btn, label #cancel{
	position: absolute;
	cursor: pointer;
	background: #532377;
	border-radius: 3px;
}

label #btn{
	left: 40px;
	top: 25px;
	font-size: 35px;
	color: white;
	padding: 6px 12px;
	transition: all .5s;
}

label #cancel{
	z-index: 1111;
	left: -195px;
	top: 12px;
	font-size: 30px;
	color: white;
	padding: 4px 9px;
	transition: all .5s ease;
}

#check:checked ~ .sidebar{
	left: 0;
}

#check:checked ~ label #btn{
	left: 250px;
	opacity: 0;
	pointer-events: none;
}

#check:checked ~ label #cancel{
	left: 195px;
}

#check:checked ~ section{
	margin-left: 250px;
}

.main{
	background: #D5B8F9;
	background-position: center;
	background-size: cover;
	height: 790px;
	transition: all .5s;
	font-size: 20px;
	padding-left: 200px;
}

h3{
	font-size: 30px;
	padding-top: 50px;
}

h4{
	font-size: 20px;
}

table, th, td{
	background: #D5B8F9;
	border: 1px solid #532377;
	border-collapse: collapse; 
	padding: 10px;
	border-spacing: 10px;
	text-align: center;
	width: 1000px;
}